<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <title>New Project</title>
</head>

<body>
    <div style="margin: 20px;">
        <h2>Add New Project</h2>
        <form th:action="@{/newproject}" th:object="${project}" method="post">
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-select" id="status" th:field="*{status}">
                    <option th:each="stat : ${statuses}" th:value="${stat.statusName}" th:text="${stat.statusName}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="projectName" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="projectName" th:field="*{projectName}" required>
                <div class="text-danger" th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}"></div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" id="category" th:field="*{category}">
                    <option th:each="cat : ${categories}" th:value="${cat.categoryName}" th:text="${cat.categoryName}">
                    </option>
                </select>
                <div class="text-danger" th:if="${#fields.hasErrors('projecCategory')}" th:errors="*{projecCategory}">
                </div>

            </div>
            <div class="mb-3">
                <label for="size" class="form-label">Size</label>
                <input type="text" class="form-control" id="size" th:field="*{size}">
            </div>
            <div class="mb-3">
                <label for="pattern" class="form-label">Pattern Link</label>
                <input type="url" class="form-control" id="pattern" th:field="*{pattern}" />
            </div>
            <div class="mb-3">
                <label for="yarnText" class="form-label">Yarn Used</label>
                <input type="text" class="form-control" id="yarnText" th:field="*{yarnText}">
            </div>
            <div class="mb-3">
                <label for="needles" class="form-label">Needles</label>
                <input type="text" class="form-control" id="needles" th:field="*{needles}">
            </div>
            <div class="mb-3">
                <label for="gaugeSize" class="form-label">Gauge Size</label>
                <input type="text" class="form-control" id="gaugeSize" th:field="*{gaugeSize}">
            </div>
            <div class="mb-3">
                <label for="notes" class="form-label">Notes</label>
                <textarea class="form-control" id="notes" th:field="*{notes}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-outline-secondary" th:href="@{/projects}">Cancel</a>
        </form>
</body>

</html>